.btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    color: #FFFF;
    font-weight: 800;
}

.catalogue {
    background-color: #1c2bdb;
}

.cart {
    background-color: #e71212;;
}